body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 40px;
}

textarea {
    width: 60%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #2f80ed;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #1c60c9;
}

#result {
    margin-top: 20px;
    padding: 15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #ddd;
}
