h1 {
    text-align: center;
    color: rgb(53, 30, 255);
}

h2 {
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
}

ul {
    line-height: 1.3;
    margin-top: 10px;
}

li {
    margin-bottom: 6px;
}

.uni-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.uni-text {
    max-width: 420px;
}

.read-more {
    text-align: right;
    margin-top: 8px;
}

#page-title {
    margin-top: 10px;
}

.intro-text {
    margin-bottom: 10px;
}
